# Игнорировать папку с зависимостями (Node.js)
node_modules/

# Игнорировать файлы логов
*.log

# Игнорировать файлы ошибок yarn/npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Игнорировать файлы конфигурации IDE
.vscode/
.idea/

# Игнорировать файлы операционных систем (например, macOS)
.DS_Store
Thumbs.db

# Игнорировать переменные окружения
.env

# Игнорировать файлы сборки
dist/
build/
